In [3]:
import pandas as pd

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [12]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [13]:
distinct_name_count = df['fuel_type'].nunique()

print("Distinct Name count:", distinct_name_count)

Distinct Name count: 2

In [15]:
fuel_efficiency_mpg = df['fuel_efficiency_mpg'].max()

print("fuel_efficiency_mpg:", fuel_efficiency_mpg)

fuel_efficiency_mpg: 25.96722204888372

In [20]:
max_value = df['fuel_efficiency_mpg'].max() 
print("Max value:", max_value)

Max value: 25.96722204888372

In [18]:
median_hp = df['horsepower'].median()
print("Median horsepower:", median_hp)

Median horsepower: 149.0

In [21]:
max_values_by_area = df.groupby('origin')['fuel_efficiency_mpg'].max()
print(max_values_by_area)

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [22]:
missing_columns_count = df.isnull().any().sum()
print("Number of columns with missing values:", missing_columns_count)

Number of columns with missing values: 4

In [23]:
# 1. Find the median value of horsepower (before filling missing values)
median_before = df['horsepower'].median()
print("Median horsepower before filling missing values:", median_before)

# 2. Calculate the most frequent value (mode) of horsepower
mode_hp = df['horsepower'].mode()[0]  # mode() returns a Series, take first value
print("Most frequent horsepower value:", mode_hp)

# 3. Fill missing values in horsepower with the most frequent value
df['horsepower'] = df['horsepower'].fillna(mode_hp)

# 4. Calculate the median value of horsepower after filling missing values
median_after = df['horsepower'].median()
print("Median horsepower after filling missing values:", median_after)

Median horsepower before filling missing values: 149.0
Most frequent horsepower value: 152.0
Median horsepower after filling missing values: 152.0

In [26]:
import numpy as np

# 1. Select all cars from Asia
df_asia = df[df['origin'] == 'Asia']

# 2. Select only columns vehicle_weight and model_year
df_selected = df_asia[['vehicle_weight', 'model_year']]

# 3. Select the first 7 values
df_first7 = df_selected.head(7)

# 4. Get underlying NumPy array
X = df_first7.to_numpy()

# 5. Compute XTX = X.T @ X
XTX = X.T @ X

# 6. Invert XTX
XTX_inv = np.linalg.inv(XTX)

# 7. Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# 8. Compute w = XTX_inv @ X.T @ y
w = XTX_inv @ X.T @ y

In [28]:
import numpy as np

In [29]:
# 1. Select all cars from Asia
df_asia = df[df['origin'] == 'Asia']

In [30]:
# 2. Select only columns vehicle_weight and model_year
df_selected = df_asia[['vehicle_weight', 'model_year']]

In [31]:

# 3. Select the first 7 values
df_first7 = df_selected.head(7)

In [32]:
# 4. Get underlying NumPy array
X = df_first7.to_numpy()

In [33]:
# 5. Compute XTX = X.T @ X
XTX = X.T @ X

In [34]:
# 6. Invert XTX
XTX_inv = np.linalg.inv(XTX)

In [35]:
# 7. Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [36]:

# 8. Compute w = XTX_inv @ X.T @ y
w = XTX_inv @ X.T @ y

In [38]:
w

array([0.01386421, 0.5049067 ])

In [39]:
import numpy as np

# Step 1: Filter rows where cars are from Asia
df_asia = df[df['origin'] == 'Asia']

# Step 2: Select only vehicle_weight and model_year columns
df_selected = df_asia[['vehicle_weight', 'model_year']]

# Step 3: Take the first 7 rows
df_first7 = df_selected.head(7)

# Step 4: Get the underlying NumPy array X
X = df_first7.to_numpy()

# Step 5: Compute XTX = X.T @ X
XTX = X.T @ X

# Step 6: Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 7: Compute w = inv(XTX) @ X.T @ y
w = XTX_inv @ X.T @ y

In [40]:
w

array([0.01386421, 0.5049067 ])

In [41]:
result_sum = w.sum()
print("Sum of all elements in w:", result_sum)

Sum of all elements in w: 0.5187709081074016